---
import BaseLayout from '../../../layouts/BaseLayout.astro';
// import { Img } from "astro-imagetools/components";

export const title = 'Умное зеркало / день 0';
---
<BaseLayout>
  <h1>День 0 / Закупаем компоненты</h1>
  <!-- <Img
    <!-- attributes={{
      link: {
        fetchpriority: "high"
      }
    }} -->
    loading="lazy"
    src="/assets/mirror_parcel_out.jpg" alt="mirror"
  />
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex ab tempore incidunt recusandae dolor est ducimus eligendi fugiat consequuntur beatae, quaerat nam voluptatum nobis quibusdam nemo quae possimus accusamus expedita?
    <div>1</div><div>1</div> -->
</BaseLayout>
